div .form-container .search_bar { 
    display: flex;
    width: 260px;
    justify-content: center;
    align-items: center;

    margin-bottom: 70px;
}

div .form-container .search_bar input {
    height: 40px;
    font-size: 18px;
    width: 100%;
    padding: 10px;
    border: 1px solid #1179A0;
    border-radius: 15px 0 0 15px;
}

div .form-container .search_bar button {
    width: 50px;
    height: 40px;
    border: 1px solid #1179A0;
    background-color: #1179A0;
    color: white;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    transition: 0.4s;
}

div .search_bar button:hover {
    background-color: rgb(19, 150, 226);
}

div .show {
    color: red;
    position: absolute;

    top: 230px;
    left: 45px;
}

div .dontshow {
    overflow: hidden;
    display: none;
}


div .show_info {
    margin: 0 auto;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

div .dontshow_info {
    overflow: hidden;
    display: none;
}

div input {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 0.6rem;
    height: 100%;
    width: 100%;
    padding: 3px;
    border: 1px solid #1179A0;
    border-radius: 15px 15px 15px 15px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

div h4 {
    font: bolder;
    display: flex;
    justify-content: left;
    font-size: 0.7rem;
}

div button {
    border-radius: 50%;
    padding: 0.3rem;
    background-color: #1179A0;
    color: white;
    border: transparent;
    transition: 0.3s;
    outline: none;
}

div button:hover {
    background-color: rgb(19, 150, 226);   
}

div .div-span {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

.btn {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
} 

table { 
    overflow-y: auto; 
    height: 100px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.7rem;
}
    
table th { 
    position: sticky; 
    top: 0; 
   }

table  { 
    border-collapse: collapse; 
    width: 100%; 
   }


th,td {  
    padding: 2px 2px 2px 2px; 
    font-size: 0.6rem;  
   }

th { 
    background: rgb(168, 190, 204); 
   }

div .app {
    margin-top: 0rem;
}

div .scroll {
    height: 90px;
    width: 230px;
    border: 1px solid #1179A0;
    overflow: hidden;
    overflow-y:auto;
    position: absolute;
}

table{
    border-collapse:collapse;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;
    
}
table td{
    padding: 0.3rem;
}

div img {
    width: 10rem;
    height: auto;
    /* margin-top: 25px; */
}
