div .search_bar { 
    display: flex;
    width: 230px;

    justify-content: center;
    align-items: center;
    margin-top: 18px;
}

div .search_bar input{
    height: 40px;
    font-size: 18px;
    width: 100%;
    padding: 10px;
    border: 1px solid #1179A0;
    border-radius: 15px 0 0 15px;
}